.list {
    list-style-type: none;
    width: 173px;
    height: 247px;
    background: #242424;
    border: 1px solid #2D2D2D;
    border-radius: 12px;
}

.listElement {
    width: 173px;
    height: 37px;
}