.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: transparent;

  h3 {
    width: 291px;
    height: 24px;

    // font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    letter-spacing: -0.01em;

    color: #ffffff;
  }
}

.displayAll {
  display: flex;
  align-items: center;
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
}

.swiper-container {
  display: flex;
  flex-direction: column;
  position: relative;

  &:hover {
    z-index: 5;
  }
}

.swiper {
  width: 100%;
  overflow: visible;
  // overflow-x: hidden;
  // margin-left: 50px;
}

.swiper-wrapper {

  // width: 100%;
  &:hover {
    z-index: 1;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 256px;
  height: 164px;
  position: relative;
  z-index: 10;

  &:hover {
    z-index: 11;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
}