.movieItem {
    width: 256px;
    height: 164px;

    background: #FFFFFF;
    border-radius: 16px;

    transition: transform .5s ease-in-out;

    // &:hover {
    //     transform: scale(1.4);
    //     z-index: 100;
    // }
}